/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 358;
  --first-color: hsl(var(--hue), 100%, 43%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(49, 100%, 82%);
  --container-color: hsl(43, 88%, 54%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.menu__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.menu__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
  color: red; 
  text-align: center;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top:0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo span{
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    top:0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, .3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);/*For Safari*/
    transition: right .4s;
  }
  
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur to header */
.blur-header{
  background-color: transparent;
}

.blur-header::after{
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}


/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  background-color: var(--container-color);
}

.home__container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content{
  display: grid;
  row-gap: 2rem;
}

.home__data{
  text-align: center;
}

.home__subtitle,
.home__education{
  font-size: var(--bigger-font-size);
}

.home__subtitle span,
.home__title{
  color: var(--first-color);
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home__description{
  margin-block: 1rem 1.5rem;
  color: var(--title-color);
}


/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsla(var(--hue),100%,40%, .25);
}

/*=============== SKILLS ===============*/
/* Global Styles */
/* * {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
} */

/* Form Styles */
.box {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.box_total{
  max-width: 600px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


/* h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
} */

h3{
  color:#3e3e3e;
}
.menu_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.menu_item {
  flex-basis: calc(25% - 20px);
  margin-bottom: 30px;
}

.menu_item p {
  font-weight: bold;
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.menu_item div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease-in-out;
}

.menu_item div:hover {
  background-color: #eee;
}

.menu_item div input[type="checkbox"] {
  margin-right: 10px;
}

.menu_item div label {
  font-size: 18px;
  color: #555;
}

button {
  display: block;
  margin: 0px auto 0;
  border: none;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}


/*=============== SCROLL UP ===============*/

.scrollup{
  position: fixed;
  right:1rem;
  bottom:-50%;
  background-color: var(--body-color);
  padding: 6px;
  display: inline-flex;
  border-radius: .25rem;
  color: var(--first-color);
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(228,15%,8%,.4);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s ;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-inline: 1rem;
  }

  .skills__content{
    grid-template-columns: max-content;
    row-gap: 1rem;
  }

  .services__card{
    padding-block: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width:576px) {
  .home__container,
  .about__container,
  .skills__container,
  .services__container,
  .projects__container,
  .contact__container{
    grid-template-columns: 360px;
    justify-content: center;
  } 
}

@media screen and (min-width: 768px){
  .nav__menu{
    width: 55%;
  }

  .home__container,
  .about__container,
  .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__data,
  .about__data,
  .skills__data,
  :is(.about__data,.skills__data) :is(.section__subtitle,.section__title){
    text-align: initial;
  }

  .home__social{
    justify-content: initial;
  }

  .home__blob,
  .about__blob{
    width: 400px;
  }

  .about__data{
    order:1;
  }

  .services__container,
  .projects__container{
    grid-template-columns: repeat(2,352px);
  }
}
/* For large devices */
@media screen and (min-width: 1023px){
  .section{
    padding-block: 7rem 2rem;
  }

  .section__subtitle{
    font-size: var(--normal-font-size);
  }
  
  .nav__close,
  .nav__toggle{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu{
    width: initial;
  }

  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /*For Safari*/
  }
}

@media screen and (min-width: 1152px) {

  .container{
    margin-inline: auto;
  }

  .home__container{
    grid-template-columns: 455px 550px;
    column-gap: 7rem;
    padding-block:2rem 3rem;
  }
  
  .home__blob{
    width: 550x;
  }

  .home__content{
    row-gap: 4.5rem;
  }

  .home__description{
    margin-block: 1.5rem 2.5rem;
  }

  .home__social{
    column-gap: 1.5rem;
  }


}

.footer{
  padding-block: 1.5rem 1rem;
  background-color: #574022;
  margin-top: 2rem;
}

.footer__container{
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  
}

.footer__title{
  color: #fff;
}
.scrollup{
  right: 3rem;
}